<h1>Welcome to my blog</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><%= time_ago_in_words post.created_at %> </p>
  <p><%= truncate post.text %></p>
<% end %>
<p><%= link_to "New post", new_post_path %></p>
